<!-- 
    this is the complete index for articles, as you can see it on the index page.
    Every Post type get's their own little settings.
-->
<article class="page-article">
    {% assign page_type = post.categories.first %}
    {% if "video" == page_type %} 
        {% if post.videoUrl %}
        <!-- <a href="{{ post.url | replace: '//', '/'}}" class="noline"></a> -->
            <div class="video-container">
                <iframe src="{{ post.videoUrl }}" allowfullscreen></iframe>
            </div>
        <!-- </a> -->
        {% endif %} 
    {% elsif "audio" == page_type %} 
        {% if post.audioUrl %}
        <!-- <a href="{{ post.url | replace: '//', '/'}}" class="noline"></a> -->
            <div class="video-container">
                <iframe src="{{ post.audioUrl }}" frameborder="no" border="0" marginwidth="0" marginheight="0" width="330" height="86"></iframe>
            </div>
        <!-- </a> -->
        {% endif %} 
    {% else %} 
        {% if post.featimg %}
        <a href="{{ post.url | replace: '//', '/'}}" class="noline">
            <img src="{{ post.featimg }}" alt="{{ post.featimg }}">
        </a>
        {% endif %} 
    {% endif %}
    <div class="actions">
        <a href="{{ post.url | replace: '//', '/'}}">
            {{ post.title }}
        </a>
        <!-- <span class="date">{{ post.date | date: '%Y-%m-%d' }}</span> -->
        <i class="iconfont icon-time"></i><span class="date">{{ post.date | date: '%Y-%m-%d' }}</span>
        <i class="iconfont icon-see"></i>
        <span class="date" data-hk-page="{{ post.url | replace: '//', '/'}}"></span>
    </div>
    <div class="tagscloud">
        <ul>
            {% for tag in post.tags %}
            <li><a href="/tag?q={{ tag | url_encode}}">{{ tag }}</a><span>{{ site.posts | where_exp: 'post', 'post.tags contains tag' | size }}</span></li>
            {% endfor %}
        </ul>
    </div>
</article>