<meta charset="UTF-8">
<title>{{ site.title }}{% if page.title %} - {{ page.title }} {% endif %}</title>
{% if page.description %}
<meta name="description" content="{{ page.description }}">
{% else %}
<meta name="description" content="{{ site.description }}">
{% endif %}
<meta content='width=device-width, initial-scale=1, maximum-scale=1' name='viewport'/>
<link rel="stylesheet" href="//cdn.jsdelivr.net/gh/Valdanitooooo/Gifootball/public/css/selectize.gifootball.css">
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/jquery-typeahead@2.10.6/dist/jquery.typeahead.min.css">
<link rel="stylesheet" id="color-change" href="//cdn.jsdelivr.net/gh/Valdanitooooo/Gifootball/public/css/basic.css">
<link rel="stylesheet" id="color-change" href="//cdn.jsdelivr.net/gh/Valdanitooooo/Gifootball/public/css/main.css">
<link rel="stylesheet" id="switch-style" href="//cdn.jsdelivr.net/gh/Valdanitooooo/Gifootball/public/css/grid.css">
<link rel="stylesheet" href="//at.alicdn.com/t/font_862418_u5k731mnidf.css">
<link href="//cdn.jsdelivr.net/gh/Valdanitooooo/Gifootball/public/favicon.ico" mce_href="//cdn.jsdelivr.net/gh/Valdanitooooo/Gifootball/public/favicon.ico" rel="icon" type="image/x-icon">
<script src="//cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/gh/Valdanitooooo/Gifootball/public/js/global.min.js"></script>
<script src="//cdn.staticfile.org/waypoints/4.0.1/jquery.waypoints.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/jquery-typeahead@2.10.6/dist/jquery.typeahead.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/selectize@0.12.6/dist/js/standalone/selectize.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/jquery-backstretch@2.1.18/jquery.backstretch.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.min.js"></script>
<script async src="//cdn.jsdelivr.net/npm/busuanzi@2.3.0/bsz.pure.mini.min.js"></script>
<!-- baidu analysis -->
<!-- <script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?{{site.baidu_analysis}}";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script> -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id={{site.google_analysis}}"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{site.google_analysis}}');
</script> -->