<meta charset="UTF-8">
<title>{{ site.name }}{% if page.title %} - {{ page.title }} {% endif%}</title>
{% if page.description %}
<meta name="description" content="{{ page.description }}">
{% else %}
<meta name="description" content="{{ site.description }}">
{% endif %}
<meta content='width=device-width, initial-scale=1, maximum-scale=1' name='viewport'/>
<link rel="stylesheet" href="/public/css/selectize.gifootball.css">
<link rel="stylesheet" href="http://cdn.staticfile.org/jquery-typeahead/2.10.6/jquery.typeahead.min.css">
<link rel="stylesheet" id="color-change" href="/public/css/basic.css">
<link rel="stylesheet" id="color-change" href="/public/css/main.css">
<link rel="stylesheet" id="switch-style" href="/public/css/grid.css">
<link rel="stylesheet" href="//at.alicdn.com/t/font_862418_fuuqvs5m1w.css">
<link href="/public/favicon.ico" mce_href="/public/favicon.ico" rel="icon" type="image/x-icon">
<script src="http://cdn.staticfile.org/jquery/3.3.1/jquery.min.js"></script>
<script src="/public/js/global.min.js"></script>
<script src="http://cdn.staticfile.org/waypoints/4.0.1/jquery.waypoints.min.js"></script>
<script src="http://cdn.staticfile.org/jquery-typeahead/2.10.6/jquery.typeahead.min.js"></script>
<script src="http://cdn.staticfile.org/selectize.js/0.12.6/js/standalone/selectize.js"></script>
<script src="http://cdn.staticfile.org/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
<script src="https://cdn1.lncld.net/static/js/av-min-1.5.0.js"></script>
<script src="http://jerry-cdn.b0.upaiyun.com/hit-kounter/hit-kounter-lc-0.3.0.js"></script>