<meta charset="UTF-8">
<title>{{ site.title }}{% if page.title %} - {{ page.title }} {% endif %}</title>
{% if page.description %}
<meta name="description" content="{{ page.description }}">
{% else %}
<meta name="description" content="{{ site.description }}">
{% endif %}
<meta content='width=device-width, initial-scale=1, maximum-scale=1' name='viewport'/>
<link rel="stylesheet" href="/public/css/selectize.gifootball.css">
<link rel="stylesheet" href="//cdn.staticfile.org/jquery-typeahead/2.10.6/jquery.typeahead.min.css">
<link rel="stylesheet" id="color-change" href="/public/css/basic.css">
<link rel="stylesheet" id="color-change" href="/public/css/main.css">
<link rel="stylesheet" id="switch-style" href="/public/css/grid.css">
<link rel="stylesheet" href="//at.alicdn.com/t/font_862418_u5k731mnidf.css">
<link href="/public/favicon.ico" mce_href="/public/favicon.ico" rel="icon" type="image/x-icon">
<script src="//cdn.staticfile.org/jquery/3.3.1/jquery.min.js"></script>
<script src="/public/js/common.js"></script>
<script src="/public/js/global.min.js"></script>
<script src="//cdn.staticfile.org/waypoints/4.0.1/jquery.waypoints.min.js"></script>
<script src="//cdn.staticfile.org/jquery-typeahead/2.10.6/jquery.typeahead.min.js"></script>
<script src="//cdn.staticfile.org/selectize.js/0.12.6/js/standalone/selectize.min.js"></script>
<script src="//cdn.staticfile.org/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
<script src="/public/js/lazyload.min.js"></script>
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<!-- baidu analysis -->
<!-- <script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?{{site.baidu_analysis}}";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script> -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id={{site.google_analysis}}"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{site.google_analysis}}');
</script> -->