<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>

    <body>
        <div class="scanlines"></div>
        <header class="head">
            {% include cn/nav.html %}
        </header>
        <div class="margin">
            <div class="content full">
                <div class="content-container">
                    <article class="page-article">
                        {% if page.title %}
                            <h4 class="page-title">
                                {{ page.title }}
                            </h4>
                        {% endif %}
                        {% if page.featimg %}
                            <img class="featimg" src="{{ page.featimg }}" alt="{{ page.title }}">
                        {% endif %}
                        <div class="post-content">
                            {{ content }}
                        </div>
                    </article>
                </div>
            </div>
        </div>
        {% include footer.html %}
        
    </body>
</html>
